.navbar{    
    display: flex;
    background-color: rgb(3, 119, 94);
    width: fit-content;
}

.img{
    display: block;
    width: 10%;    
    margin: 15px;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin: 5px;
    float: right;
}

.span{
    color: white;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}

.span:hover{
    text-decoration: none;
    background-color: rgb(1, 51, 12);
    text-align: left;
    transition: 1000ms;
}
